html{
    height: 100%;
}
body{
    height: 100%;
    background-repeat: no-repeat;
    background: linear-gradient(0deg, rgba(0,16,36,1) 0%, rgba(9,63,121,1) 30%, rgba(0,212,255,1) 100%);
    overflow: hidden;
}
.main{
    position: absolute;
    width: 800px;
    height: 650px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.tile{
    background-color: rgba(10, 10, 10, .1);
    position: relative;
    width: 150px;
    height: 150px;
    margin: auto;
    padding: auto;
    border-radius: 10px;
}
.tile:hover{
    border: 1px solid rgba(255, 255, 255, .3);
}
.tile > img{
    position: relative;
    width: 130px;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.1;
}
.tile:hover > img{
    opacity: 0.5;
}